# Python
__pycache__/
*.pyc
*.pyo
*.pyd


# Virtual environments
.venv/
.env

# Data
data/raw/*
data/processed/*

# Research
docs/research/*

# Build
build/
dist/
*.egg-info/

# C++
*.o
*.so
*.a

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/