# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/


# Virtual environments
.venv/
.env

# Data
data/raw/*


# Research
docs/research/
artifacts/

# Build
build/
dist/
*.egg-info/

# ML models
*.joblib

# C++
*.o
*.so
*.a

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/